<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/cliente">Cliente</a></li>
        <li><a href="/vistoriador">Vistoriadores</a></li>
        <li><a href="/">Visitas</a></li>
        <li><a href="/avaliacao">Avaliações</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <div class="row">
            <div class="alinhar-direita">
            <button type="button" class="btn btn-default btn-ajuste btn-novo" data-ng-click="Avaliacao.listRecords()"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-group">
                    <select class="form-control" data-ng-model="Avaliacao.filtro">
                      <option value="15">Restam 15 dias para vencer</option>
                      <option value="10">Restam 10 dias para vencer</option>
                      <option value="5">Restam 5 dias para vencer</option>
                    </select>
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default" data-ng-click="Avaliacao.search(Avaliacao.filtro)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="avaliacao in Avaliacao.list | limitTo:15:Avaliacao.init" data-ng-click="Avaliacao.editar(avaliacao)" data-toggle="modal" data-target="#modalAvaliacao">
              <td>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <strong>Cliente:</strong> {{ avaliacao.client }}
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav>
    <ul class="pager">
      <li><a href="#" data-ng-click="Avaliacao.prevList()">Anterior</a></li>
      <li><a href="#" data-ng-click="Avaliacao.nextList()">Proxima</a></li>
    </ul>
  </nav>
</section>
<section>
  <div class="modal fade" id="modalAvaliacao" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cadastro de avaliacões</h4>
        </div>
        <div class="modal-body">
          <form class='form-horizontal' name="formAvaliacao">

            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <div class="form-group">
                  <label>Possui problemas estruturais?</label>
                  <select class="form-control" data-ng-model="Avaliacao.form.p1">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <div class="form-group">
                  <label>Possui infiltrações?</label>
                  <select class="form-control" data-ng-model="Avaliacao.form.p2">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <div class="form-group">
                  <label>Dimensões correspondem com a planta?</label>
                  <select class="form-control" data-ng-model="Avaliacao.form.p3">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <div class="form-group">
                  <label>Possui instalações elétricas adequadas?</label>
                  <select class="form-control" data-ng-model="Avaliacao.form.p4">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" data-ng-click="Avaliacao.update()">Salvar Registro</button>
        </div>
      </div>
    </div>
  </div>
</section>
